<%- include('../../Partials/sidebar') %>
      <!-- ===== Content Area Start ===== -->
      <div
        class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
      >
        <!-- ===== Header Start ===== -->
        <%- include('../../Partials/Header') %>


        <!-- ===== Header End ===== -->

        <!-- ===== Main Content Start ===== -->
        <main>
          <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
            <!-- Breadcrumb Start -->
            <div
              class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between"
            >
              <h2 class="text-title-md2 font-bold text-black dark:text-white">
                Add Category
              </h2>

              <nav>
                <ol class="flex items-center gap-2">
                  <li>
                    <a class="font-medium" href="/">Dashboard /</a>
                  </li>
                  <li class="font-medium text-primary">Add Category</li>
                </ol>
              </nav>
            </div>
            <!-- Breadcrumb End -->

            <!-- ====== Add Category Section Start -->
            <div class="grid grid-cols-1 gap-9 sm:grid-cols-2">
              <div class="flex flex-col gap-9">
                <!-- Contact Form -->
                <div
                  class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
                >
                  <div
                    class="border-b border-stroke px-6.5 py-4 dark:border-strokedark"
                  >
                    <h3 class="font-medium text-black dark:text-white">
                      Create Category
                    </h3>
                  </div>
                  <form action="" method="post">
                    <div class="p-6.5">
                      <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
                        <div class="w-full ">
                          <label
                            class="mb-3 block text-sm font-medium text-black dark:text-white"
                          >
                            Add Category
                          </label>
                          <input
                            type="text" name="name"
                            placeholder="i.e, Electronics, Clothing"
                            class="w-full capitalize rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"
                           required/>
                        </div>
                      </div>

                      <button
                        class="flex w-full justify-center rounded bg-primary p-3 font-medium text-gray hover:bg-opacity-90"
                      >
                        Create Category
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- ====== Add Category Section End -->
          </div>
        </main>
        <!-- ===== Main Content End ===== -->
      </div>
      <!-- ===== Content Area End ===== -->
    </div>
    <!-- ===== Page Wrapper End ===== -->
  <script defer src="/bundle.js"></script></body>
</html>
